@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-purple: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-purple: var(--neon-purple);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geist-sans);
  letter-spacing: -0.02em;
}